.products_container {
    padding-top: 2%;
}

.card {
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: 2%;
    text-align: center;
    font-family: arial;
}

.price {
    color: grey;
    font-size: 22px;
}

.card .btn {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    margin-top: 1%;
}

.card .btn_disabled {
    pointer-events: none;
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: rgb(153, 153, 153);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    margin-top: 1%;
}

.card button:hover {
    opacity: 0.7;
}

.card h1 {
    font-size: 120%;
}

.load-more-btn {
    width: 150px;
    line-height: 40px;
    border-radius: 2px;
    margin: 0 auto;
    display: block;
    background: #219150;
    color: #fff;
    cursor: pointer;
    text-align: center;
    margin-bottom: 5%;
}

.load-more-btn:hover {
    background: green;
}

@media only screen and (max-width: 650px) {
    .products_container {
        padding-top: 20%;
    }

    .card {
        margin-top: 3%;
    }
}